.color-3 {
    color: rgb(194, 38, 111);
}

.color-2 {
    color: rgb(47, 47, 129);
}
.common-padding{
    padding: 0px;
}
@media (min-width:768px){
    .common-padding{
        padding: 80px;
    }
}

.head {
    font-weight: 600;
    color: rgb(55, 32, 85);
}

.head-title {
    color: rgb(80, 80, 112);
    font-weight: 520;
    font-size: 14px;
    text-align: justify;
}

.title {
    color: rgb(55, 32, 85);
    font-weight: 700;
}

.title-s {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    color: rgb(124, 150, 52);
    font-weight: 700;
}

.top-head-title {
    color: rgb(136, 94, 136);
    font-weight: 600;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}

.button {
    background-color: rgb(137, 88, 172);
    color: #ffffff;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 8px;
    border-width: 0px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(44, 150, 88);

}