.go-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #008CBA;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    
  }
  
  .go-to-top-button:hover {
    background-color: #006d8e;
  }

  .go-to-top-button svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    transition: transform 0.3s ease;
  }
  
  .go-to-top-button:hover svg {
    transform: translateY(-3px);
  }