.tip-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
  }
  
  .tip-info{
    order: 1;
  }
  
  .tips-img{
    order:0;
    padding:10px;
    width:90%;
    
  }
  .tips-img-2 {
    width: 90%;
    padding:10px;
   
  }
  .tips-list{
    margin-bottom: 10px;
  }
  @media (min-width:768px) {
    .tips-container{
        margin-top: 20px;
    }
    .tip-container{
        margin-top: 10px;
        width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  
    
    .tip-info{
      order: 0;
    }
    .tips-hair{
      padding: 80px;
    }
    .tips-img{
      width: 240px;
      
      order:1
    }
  
    .tips-img-2 {
      width: 240px;
     
      margin-left:10px;
      order:1
    }
  }
  