.card-container {
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f7f1f1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
}
.treatment-title {
    font-size: 18px;
}

.treatment-img {
    align-self: center;
    width: 70%;
    margin-bottom: 10px;
    order: 0
}

.treatment-info {
    text-align: justify;
    color: rgb(117, 45, 79);
}

.info-container {
    order: 1;
}
.extra-details-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .extra-details-container.open {
    max-height: 1500px; /* Adjust the value as needed */
    transition: max-height 0.9s ease;
  }
  
@media (min-width:768px) {
    .card-container {
        margin-bottom: 30px;
    }
    .card-details {
        flex-direction: row;
    }

    .treatment-img {
        margin: 10px 10px 5px 10px; 
        width: 260px;
        order: 1;
    }

    .treatment-title {
        font-size: 26px;
    }

    .treatment-info {
        font-size: 18px;
        margin-right: 20px;
    }

    .info-container {
        margin: 20px;
        order: 0
    }
    .extra-details-container{
        margin: 0px 20px 10px 20px;
    }
    .treatment-btn{
        
        margin-left: 20px;
    }
}