.container {
    width: 100%;
}
.icon{
    font-size: 24px;
    transition: 0.3s all ease-in-out;
}
.icon:hover{
    font-size: 24px;
    transform: scale(1.3);
}
.footer{
    background-color: #FFCAD5;
}
.footer-title{
color: #6F373F;
}
.footer-title:hover{
    color: rgb(82, 75, 68);
    
    }

.logo {
    width: 200px;
    margin-right: auto;
    
}
.footer-item{
    margin-bottom: 0px;
    font-weight: 600;
    color: #B76E79;
    text-decoration: none;
}
.footer-item:hover{
    color: #6EB7AC;
}
.cd-box{
    color: rgb(58, 47, 47);
}
.text-sunday{
    font-family:  "Exo", sans-serif;;
    margin-left: 20px;
    font-weight: 700;
}
@media (min-width:768px) {
    .logo {
        width: 240px;
        margin-right: auto;
    }
}
@media (min-width:992px) {
    .logo {
        width: 280px;
        margin-right: auto;
    }
}
